.App {
  text-align: center;
}

img {
  width: 500px;
}

body {
  background-image: url('https://img5.goodfon.com/wallpaper/nbig/c/56/nekachestvennye-oboi-iavnye-artefakty-uvelichennye-do-bolshe.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#welcome_photo {
  width: 500px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
