.App {
  text-align: center;
}

img {
  width: 500px;
}

.rightCat {
  position: fixed;
  bottom: 0;
  right: 0;
  /* width: 250px; */
  width: 25vh
}

.leftCat {
  position: fixed;
  bottom: 0;
  left: 0;
  /* width: 250px; */
  width: 25vh
}

.rightLongCat {
  position: fixed;
  right: 0;
  bottom: 25%;
  /* width: 200px; */
  width: 30vh;
  /* height: 500px; */
  height: 55vh;
}

.leftLongCat {
  position: fixed;
  left: 0;
  bottom: 25%;
  /* width: 200px; */
  width: 30vh;
  /* height: 500px; */
  height: 55vh;
}

.leftTopCat {
  position: fixed;
  left: 0;
  bottom: 80%;
  /* width: 150px; */
  width: 16vh;
}

.rightTopCat {
  position: fixed;
  right: 0;
  bottom: 80%;
  width: 150px;
  /* width: */
  width: 16vh;
}

@media only screen and (max-width: 750px) {
  .sideCat {
    display: none;
  }
}

.devCats {
  width: 500px;
  height: 350px; 
}

.topRow, .bottomRow {
  flex: 1 1 calc(100% - 50px);
}

.devs {
  flex: 0 0 50px;
}

.devContainer {
  display: flex;
  /* flex-wrap: wrap; */
}

body {
  background-color: rgb(136, 233, 200);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#welcome_photo {
  width: 500px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
